<h1>Liste des questions</h1>

<div class="btn-toolbar">
  <%= link_to 'Nouvelle question', new_question_path, :class => "btn btn-primary" %>
  <%= link_to 'Retour', home_path, :class => "btn btn-inverse" %>
</div>

<table class="table table-striped">
  <tr>
    <th>Nom</th>
    <th>Catégorie</th>
    <th>Periode</th>
    <th></th>
    <th></th>
  </tr>

<% @questions.each do |question| %>
  <tr>
    <td><%= question.name %></td>
    <td><%= Category.find(question.category_id).name %></td>
    <td><%= Period.find(question.period_id).fullname %></td>
    <td><%= link_to 'Editer', edit_question_path(question), :class => "btn btn-info" %></td>
    <td><%= link_to 'Supprimer', question, method: :delete, data: { confirm: 'Etes-vous sur ?' }, :class => "btn btn-danger" %></td>
  </tr>
<% end %>
</table>
