<%= simple_form_for(@team) do |f| %>
  <%= f.error_notification %>
  <%= display_base_errors @team %>
  <%= f.input :name, :label => "Nom de l'equipe" %>
  <%= f.button :submit, "Valider" %>
    <div class="field">
      Gropue : <br />
      <%= f.collection_select :studentset_id, Studentset.all, :id, :name %>
    </div>
<% end %>
