<h1>Liste des équipes</h1>

<div class="btn-toolbar">
  <%= link_to 'Nouvelle équipe', new_team_path, :class => "btn btn-primary" %>
  <%= link_to 'Retour', home_path, :class => "btn btn-inverse" %>
</div>

<table class="table table-striped">
  <tr>
    <th>Nom</th>
    <th>Groupe</th>
    <th></th>
    <th></th>
  </tr>

<% @teams.each do |team| %>
  <tr>
    <td><%= team.name %></td>
    <td><%= Studentset.find(team.studentset_id).name %></td>
    <td><%= link_to 'Editer', edit_team_path(team), :class => "btn btn-info" %></td>
    <td><%= link_to 'Supprimer', team, confirm: 'Êtes-vous sûr ?', method: :delete, :class => "btn btn-danger" %></td>
  </tr>
<% end %>
</table>

