<h2>Inscrivez-vous</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div>Login (cip)<br />
  <%= f.text_field :username %></div>

  <div>Mot de passe<br />
  <%= f.password_field :password %></div>

  <div>Confirmation du mot de passe<br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit "S'inscrire" %></div>
<% end %>

<%= render "devise/shared/links" %>
