<h1>Liste des sessions</h1>

<table>
  <tr>
    <th>Nom</th>
    <th>Session courrante ?</th>
    <th></th>
    <th></th>
  </tr>

<% @terms.each do |term| %>
  <tr>
    <td><%= term.fullname %></td>
    <td>
      <% if term.is_active %>
        Oui
      <% else %>
        Non - <%= link_to "Rendre active", term_activate_path(term) %>
      <% end %>
    </td>
    <td><%= link_to 'Editer', edit_term_path(term) %></td>
    <td><%= link_to 'Supprimer', term, confirm: 'Êtes-vous sûr ?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nouvelle session', new_term_path %>
