Bonjour <%=  current_user.fullname %>,  <br />
<%  if current_user.role?(:student) %>
  Vous êtes dans le projet :   <br />
  #current_user.team?(Term.where(:is_active => 1)).name
<% end %>
Votre évaluation est complétée à 10%
<hr />

<%  if current_user.role?(:administrator) or current_user.role?(:supervisor) %>
    <ul>
      <li><%=  link_to 'Gérer les équipes', teams_path %></li>
      <li><%=  link_to 'Gérer les sessions', terms_path %></li>
      <li><%=  link_to 'Gérer les années', years_path %></li>
      <li><%=  link_to 'Gérer les périodes', periods_path %></li>
      <li><%=  link_to 'Gérer les élèves', affectations_path %></li>
      <li><%=  link_to 'Gérer les questions', questions_path %></li>
      <li><%=  link_to 'Gérer les catégories', categories_path %></li>
      <li><%=  link_to 'Gérer les évaluations', evaluations_path %></li>
      <li><%=  link_to 'Envoyer un fichier', uploads_path %></li>
    </ul>
<% end %>
<%  if current_user.role?(:student) %>
    <ul>
      <li><%=  link_to 'Evaluez !', rates_path %></li>
    </ul>
<% end %>
<hr />