<h1>Liste des étudiants</h1>

<div class="btn-toolbar">
  <%= link_to 'Nouvelle affectation', new_affectation_path, :class => "btn btn-primary" %>
  <%= link_to 'Retour', home_path, :class => "btn btn-inverse" %>
</div>

<table class="table table-striped">
  <tr>
    <th>Cip</th>
    <th>Nom</th>
    <th>Matricule</th>
    <th>Equipe(s)</th>
    <th>Session</th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |single_user| %>
  <tr>
    <td><%= single_user.username %></td>
    <td><%= single_user.fullname %></td>
    <td><%= single_user.matricule %></td>
    <td>
      <% Affectation.where(:user_id => single_user, :term_id => @current_term).each do |single_affectation| %>
        [<%= Team.find(single_affectation.team_id).name %>]
      <% end %>
    </td>
    <td><%= Term.find(@current_term).fullname %></td>
    <td><%= link_to 'Editer', "#", :class => "btn btn-info" %></td>
    <td><%= link_to 'Supprimer', "#", :class => "btn btn-danger" %></td>
  </tr>
<% end %>
</table>
