<h1>Liste des étudiants</h1>

<div class="btn-toolbar">
  <%= link_to 'Nouvelle affectation', new_affectation_path, :class => "btn btn-primary" %>
  <%= link_to 'Retour', home_path, :class => "btn btn-inverse" %>
</div>

<table class="table table-striped">
  <tr>
    <th>Cip</th>
    <th>Nom</th>
    <th>Matricule</th>
    <th>Equipe</th>
    <th>Session</th>
    <th>Année</th>
    <th></th>
    <th></th>
  </tr>

<% @affectations.each do |affectation| %>
  <tr>
    <td><%= User.find(affectation.user_id).username %></td>
    <td><%= User.find(affectation.user_id).fullname %></td>
    <td><%= User.find(affectation.user_id).matricule %></td>
    <td><%= Team.find(affectation.team_id).name %></td>
    <td><%= Term.find(affectation.term_id).name %></td>
    <td><%= Year.find(affectation.term_id).name %></td>
    <td><%= link_to 'Editer', edit_affectation_path(affectation), :class => "btn btn-info" %></td>
    <td><%= link_to 'Supprimer', affectation, method: :delete, data: { confirm: 'Etes-vous sur ?' }, :class => "btn btn-danger" %></td>
  </tr>
<% end %>
</table>
