<h1>Liste des projets</h1>

<table>
  <tr>
    <th>Nom</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @projects.each do |project| %>
  <tr>
    <td><%= project.name %></td>
    <td><%= link_to 'Voir', project %></td>
    <td><%= link_to 'Editer', edit_project_path(project) %></td>
    <td><%= link_to 'Supprimer', project, confirm: 'Êtes-vous sûr ?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nouveau projet', new_project_path %>
