<h1>Liste des  categories</h1>

<div class="btn-toolbar">
  <%= link_to 'Nouvelle catégorie', new_category_path, :class => "btn btn-primary" %>
  <%= link_to 'Retour', home_path, :class => "btn btn-inverse" %>
</div>

<table class="table table-striped">
  <tr>
    <th>Nom</th>
    <th>Nombre de questions</th>
    <th></th>
    <th></th>
  </tr>

<% @categories.each do |category| %>
  <tr>
    <td><%= category.name %></td>
    <td><%= category.questions.count %></td>
    <td><%= link_to 'Editer', edit_category_path(category), :class => "btn btn-info" %></td>
    <td><%= link_to 'Supprimer', category, method: :delete, data: { confirm: 'Etes-vous sur ?' }, :class => "btn btn-danger" %></td>
  </tr>
<% end %>
</table>