<h1>Evaluation de vos pairs</h1>

    <%= form_for @current, :url => "save", :period_id => @period.id do %>
    <%=  current_user.fullname %> <br />
    Completée à <%= current_user.pourcent_completed?(@period) %> %
    <% @period.all_question.each do |single_question| %>
          <div class="question">
          <div class="question_libelle">Question : <%= single_question.name %></div>

          <% current_user.team?(@period.term_id).all_members_but_me?(@period.term_id, current_user).each_with_index do |single_student, index| %>
                <div class="question_student_<%= index%2    %>">
                  <%= User.find(single_student.user_id).fullname %><br />
                  <% default_mark = Mark.where(:period_id => @period,
                                             :student_to_id => single_student.user_id,
                                             :student_from_id => current_user,
                                             :question_id => single_question.id).first
                   if default_mark.nil?
                     default_mark = ""
                   else
                     default_mark = default_mark.value
                   end
                %>

                <%= collection_select("rate[question_ids][#{single_question.id}]",
                                      single_student.user_id,
                                      @available_marks,
                                      :id,
                                      :visible_value,
                                      {:selected => Entry.where(:period_id => @period,
                                                                :real_value => default_mark).first.id}) %>

               </div>
        <% end %>
          </div>
    <% end %>
    <%= submit_tag("Valider") %>
<% end %>

