<h1>Liste des années</h1>

<div class="btn-toolbar">
  <%= link_to 'Nouvelle année', new_year_path, :class => "btn btn-primary" %>
  <%= link_to 'Retour', home_path, :class => "btn btn-inverse" %>
</div>

<table class="table table-striped">
  <tr>
    <th>Nom</th>
    <th></th>
    <th></th>
  </tr>

<% @years.each do |year| %>
  <tr>
    <td><%= year.name %></td>
    <td><%= link_to 'Editer', edit_year_path(year), :class => "btn btn-info" %></td>
    <td><%= link_to 'Supprimer', year, confirm: 'Etes-vous sûr?', method: :delete, :class => "btn btn-danger" %></td>
  </tr>
<% end %>
</table>
