<!DOCTYPE html>
<html>
<head>
  <title>EvalPP7P8</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="page">
  <% if flash[:alert] %>
      <p class="flash-error">Flash (erreur) : <%= flash[:alert].html_safe %></p>
  <% end %>
  <% if flash[:notice] %>
      <p class="flash-notice">Flash (avertissement) : <%= flash[:notice].html_safe %></p>
  <% end %>
</div>

<%= yield %>
<br />
<%= link_to 'Accueil', root_path %>

</body>
</html>
